@import './global.scss';

.TitleContainer {
  text-align: center;
}

.NameContainer {
  text-align: center;
}

.GridAccessesContainer {
  width: 75%;
}

.GridAccessesContainer .MuiGrid-spacing-xs-1 {
  margin: 2vw;
}

.ButtonContainer {
  text-align: right;
}