@import 'global';

.ContactButtonsContainer {
    
    margin: 20px 0;

    .ContactButtons {
        
        margin-top: 0px;
        margin-bottom: 0px;

        Button.ContactButton {
            display: block;
            height: 70px;
            width: 150px;
            border: $golden solid 2px;
            margin: 0 5px;

            .MuiButton-startIcon {
                margin-left: 0;
                margin-right: 0;
                
                .MuiSvgIcon-root {
                    color: $golden;
                }
            }
        }
    }
}

.ContactModal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalTextContainer {
    background-color: white;
    border: $golden solid 3px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 10px;
}