@import 'global';


.App-logo {
    height: 20vmin;
    pointer-events: none;
    //display: inline-flex;
}

.MuiButton-contained.SingButtons {
    background-color: $golden;
    
}
a{
    text-decoration: none;
}
.App-header {
    //background-color: #282c34;
    min-height: 20vh;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}