@import 'global';


.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.MuiButton-contained.SingButtons {
    background-color: $golden;
    
}

.App-header {
    
    min-height: 20vh;
    font-size: calc(10px + 2vmin);
    color: white;

    a {
        text-decoration: none;
        margin: 0 5px;
    }

    .HeaderContainer {
        margin: 0;
        
        .HeaderSection {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}