@import 'global';

.NewsCard {
    .Media{
        height: 60vh;
        background-size: contain;
    }
}

.MediaFooter {
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: #000;
    color: #fff;
    opacity: .6;
    width: 100%;
    height: 10%;
    font-size: 25px;
    font-weight: 200;
  }
  
  .MediaFooter h2 {
    color: #cda434 ;
  }
  
  .MediaFooter p {
    color: #cda434 ;
  }