.RequestPrescriptionContainer {
    box-shadow: none !important;
    margin: 20px;

    .DisclaimerContainer {
        border: solid 3px red;
        width: fit-content;
        display: inline-grid;
        margin: 20px;
        padding: 10px;
        color: red;
        text-align: left;
    }

    .InputContainer {
        display: flex;
        justify-content: center;

        .DetailsContainer {
            width: 50%;
            display: grid;
            margin-left: 10px;
        }
        
        .CommentContainer {
            width: 50%;
            margin-left: 50px;
            
            div {
                width: 30vw;
            }
        }
    }
}
  
  