@import 'global';

.Table{
    width: 50%;
}
.AppointmentGrid {
    padding: 2vh;
}
// pendingDeleteUsers
.AppointmentGrid1 .MuiPaper-elevation2 {
    width: 50%;
}

.MuiButton-contained.NewAppointment {
    background-color: $golden;
    
}