@import 'global';

.WelcomeContainer {

    .WelcomeTextContainer {
        padding-top: 3vh;
    
        .WelcomeText {
            background-color: transparent;
            color: $golden;
        }
    }
}